<div class="text-center">
    <h3 class="display-4">Welcome To Book Reading Event Application</h3>
    <p>Admin can access all events through Public Events Page.</p>
    <h4><a asp-action="getallbookreadingevents" asp-controller="bookreadingevent">Public Events</a></h4><br />
    <h4><a asp-controller="home" asp-action="myevents">My Events</a></h4><br />
    <h4><a asp-controller="home" asp-action="eventsinvitedto">Events Invited To</a></h4><br/>
    <h4>
        <a asp-controller="bookreadingevent" asp-action="addbookreadingevent">
            Add Book Reading Event
        </a>
    </h4>
</div>
