@model IEnumerable<BookReadingEventModel>
    <a class="nav-link text-primary" asp-controller="bookreadingevent" asp-action="addbookreadingevent">
        Add Book Reading Event
    </a>
    <a class="nav-link text-primary" asp-controller="bookreadingevent" asp-action="pastevent">
        Past Events
    </a>
    <a class="nav-link text-primary" asp-controller="bookreadingevent" asp-action="futureevent">
        Future Events
    </a>
    